{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set page_hook = 'monsieurbiz.page.index' %}
{% set prefixes = [page_hook] %}
{% set metaTitle = page.metaTitle ? page.metaTitle : page.title %}

{% block title %}
    {% if metaTitle is not empty %}
        {{ metaTitle }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        {% hook page_hook %}
    </div>
{% endblock %}
